[submodule "python/lb1_TA"]
	path = python/lb1_TA
	url = https://github.com/nrelvx/lb1_TA.git
[submodule "python/lb2_TA"]
	path = python/lb2_TA
	url = https://github.com/nrelvx/lb2_TA.git
[submodule "python/lb3_TA"]
	path = python/lb3_TA
	url = https://github.com/nrelvx/lb3_TA.git
[submodule "python/lb4_TA"]
	path = python/lb4_TA
	url = https://github.com/nrelvx/lb4_TA.git
[submodule "python/lb5_TA"]
	path = python/lb5_TA
	url = https://github.com/nrelvx/lb5_TA.git
[submodule "c++/lb1_OOP"]
	path = c++/lb1_OOP
	url = https://github.com/nrelvx/lb1_OOP.git
[submodule "c++/lb2_OOP"]
	path = c++/lb2_OOP
	url = https://github.com/nrelvx/lb2_OOP.git
[submodule "c++/lb3_OOP"]
	path = c++/lb3_OOP
	url = https://github.com/nrelvx/lb3_OOP.git
[submodule "c++/lb4_OOP"]
	path = c++/lb4_OOP
	url = https://github.com/nrelvx/lb4_OOP.git
[submodule "c++/lb5_OOP"]
	path = c++/lb5_OOP
	url = https://github.com/nrelvx/lb5_OOP.git
